{% load staticfiles %} {% load admin_urls %} {% load compress %}

<!DOCTYPE html>
<html lang="br">

<head>
	<meta charset="utf-8">
	<title> {% block titulo %}{% endblock %}</title>

	<link rel="icon" href="{% static 'favicon-16x16.png' %}"> {% compress css %}
	<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'font-awesome/css/font-awesome.min.css' %} " rel="stylesheet"> {% endcompress %}
</head>

<body>
	<!-- HEADER -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand ml-1" href="/web/home/">
			<i class="fa fa-cog" aria-hidden="true"></i>
		</a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link">Linguagens</a>
				</li>
			</ul>
			{% if user.is_authenticated %}
			<div class="form-inline my-2 my-lg-0">
				<a class="btn btn-sm btn-outline-info my-2 my-sm-0" href="{% url 'web:logout' %}">Logout</a>
			</div>
			{% else %}
			<div class="form-inline my-2 my-lg-0 mr-2">
				<a class="btn btn-sm btn-outline-info my-2 my-sm-0" href="{% url 'admin:login' %}">Login</a>
			</div>
			<p style="color:white" class="my-2">ou</p>
			<div class="form-inline my-2 my-lg-0 ml-2">
				<a class="btn btn-sm btn-outline-info my-2 my-sm-0" href="{% url 'web:register' %}">Registre-se</a>
			</div>
			{% endif %}
		</div>
	</nav>
	<div class="content">
		{% block conteudo %} {% endblock %}
	</div>
	<!-- FOOTER -->
	<hr>
	<footer class="text-center">
		<small id="footer">
			<p>
				Universidade Federal Rural do Rio de Janeiro
				<br /> Copyright© 2018 Leonardo Almeida
				<br /> Todos os direitos reservados
			</p>
		</small>
	</footer>
	{% compress js %}
	<script src="{% static 'jquery/dist/jquery.slim.min.js' %}"></script>
	<script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script> {% endcompress %}
</body>

</html>