{% extends "web/base.html" %} {% block titulo %}Início{% endblock %} {% block conteudo %} {% load staticfiles %}
<div class="col-sm-5 mx-auto mt-3">
    <div class="card">
        <div class="card-header">Frameworks do {{linguagem.nome}}</div>
        <div class="card-body">
            {%for frm in frameworks %}
            <div class="row">
                <div class="form-group col-md-10">
                    <label>{{frm.nome}}</label>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
{% endblock %}