{% extends "web/base.html" %} {% block titulo %}Início{% endblock %} {% block conteudo %} {% load staticfiles %}
<!-- CONTENT -->
<h6 class="mt-2 ml-5">Seja bem-vindo {% if user.is_authenticated %}{{ user.first_name }} {% else %}usuário anônimo{% endif %}</h6>
<div class="container">
	<div class="col-md-7 mx-auto">
		<div class="card border-dark mb-3">
			<div class="col-md-6 mx-auto mt-4 mb-2">
				<img class="card-img-top" src="{% static 'code.png' %}" alt="Card image cap">
			</div>
			<div class="card-body">
				<h5 class="card-title text-center">World of Frameworks</h5>
			</div>
		</div>
		<br/>
		<br/>
	</div>
</div>
{% endblock %}