{% extends "base.html" %} {% block titulo %}Início{% endblock %} {% block conteudo %} {% load staticfiles %}
<!-- CONTENT -->
<p>Seja bem vindo {% if user.is_authenticated %}{{ user.first_name }}{% else %}usuário anônimo{% endif %}</p>
{% if user.is_authenticated %}
<p><a href="{% url 'web:logout' %}">Logout</a>.</p>
{% else %}
<p><a href="{% url 'web:register' %}">Registre-se</a>.</p>
<p><a href="{% url 'web:login' %}">Login</a>.</p>
{% endif %}
<div class="container my-5">
	<div class="col-md-7 mx-auto">
		<div class="card border-dark mb-3">
			<div class="col-md-6 mx-auto mt-2 mb-2">
				<img class="card-img-top" src="{% static 'code.png' %}" alt="Card image cap">
			</div>
			<div class="card-body">
				<h5 class="card-title text-center">World of Frameworks</h5>
				<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a> -->
			  </div>
		</div>
	</div>
</div>
{% endblock %}