<div class="col-md-12 mt-3">
    <div class="card mr-2 mt-2 ml-1">
        <div class="card-header">
            <h5 class="card-title" data-toggle="collapse" style="cursor:pointer" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Comentários
                <i class="fa fa-comments-o" aria-hidden="true"></i>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                {% for comentario in comentarios %}
                <form class="form" role="form" method="POST" action="/resposta/{{framework.id}}/{{comentario.id}}">
                    {% csrf_token %}
                    <div class="media comment-box">
                        <div class="media-left">
                            <i class="fa fa-user fa-3x ml-3" aria-hidden="true"></i>
                        </div>
                        <div class="media-body">
                            <div class="media-heading text-dark">
                                <div class="bg-default clearfix">
                                    <div class="float-left">
                                        {% if comentario.usuario.conta_publica %}
                                        <a href="#">
                                            <h6 class="text-dark">{{comentario.usuario.get_full_name}}</h6>
                                        </a>
                                        {%else%}
                                        <h6>Usuário anônimo</h6>
                                        {%endif%}
                                        <small class="text-muted mb-1 ml-2">{{comentario.data|timesince}}</small>
                                    </div>
                                    {% if user.is_authenticated %}
                                    <div class="float-right">
                                        <a class="text-dark" data-toggle="collapse" href="#{{comentario.id}}" role="button" aria-expanded="false" aria-controls="{{comentario.id}}">
                                            <i class="fa fa-reply"> responder</i>
                                        </a>
                                    </div>
                                    {%endif%}
                                </div>
                            </div>
                            <p>{{comentario.texto}}</p>
                            <div class="collapse" id="{{comentario.id}}">
                                <div class="form-inline">
                                    <input type="text" name="texto" id="texto{{comentario.id}}" class="form-control form-control-sm col-md-9" placeholder="Responder comentário..."
                                        required />
                                    <button type="submit" class="btn btn-default btn-sm ml-2">Responder
                                        <i class="fa fa-reply" aria-hidden="true"></i>
                                        </i>
                                    </button>
                                </div>
                            </div>
                            {%if comentario.respostas %}
                            <div class="col-md-5">
                                {% for resposta in comentario.respostas.all %}
                                <div class="media comment-box">
                                    <div class="media-left">
                                        <i class="fa fa-user fa-3x ml-3" aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading form-inline">
                                            {% if resposta.usuario.conta_publica %}
                                            <a href="#">
                                                <h6 class="text-dark">{{resposta.usuario.get_full_name}}</h6>
                                            </a>
                                            {%else%}
                                            <h6>Usuário anônimo</h6>
                                            {%endif%}
                                            <small class="text-muted mb-1 ml-2">{{resposta.data|timesince}}</small>
                                        </div>
                                        <p>{{resposta.texto}}</p>
                                    </div>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </form>
                {%endif%} {% empty %}
                <div class="media comment-box">
                    <div class="media-left">
                        <i class="fa fa-user fa-3x ml-3" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <div class="media-heading form-inline">
                            <h6>Mundo dos Frameworks</h6>
                        </div>
                        <p class="font-weight-light">Ainda não há nenhum comentário. Use esse espaço para tirar suas dúvidas e fazer observações.</p>
                    </div>
                </div>
                {%endfor%}
            </div>
            {% if user.is_authenticated %}
            <div class="card-footer">
                <form class="form" role="form" method="POST" action="/comentario/{{framework.id}}">
                    {% csrf_token %}
                    <div class="row mr-1">
                        <div class="col-md-11">
                            <input type="text" name="texto" id="texto" class="form-control" placeholder="Tire dúvidas, dê explicações, faça comentários..."
                                required />
                        </div>
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-default">Enviar
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            {%endif%}
        </div>
    </div>
</div>