{% load staticfiles %} {% load compress %}

<!DOCTYPE html>
<html lang="br">

<head>
	<meta charset="utf-8">
	<title> {% block titulo %}{% endblock %}</title>

	<link rel="icon" href="{% static 'favicon-16x16.png' %}"> {% compress css %}
	<link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'font-awesome/css/font-awesome.min.css' %} " rel="stylesheet">
	<link href="{% static 'toastr/build/toastr.min.css' %} " rel="stylesheet">
	<link href="{% static 'drop_nav.css' %}" rel="stylesheet">
	<link href="{% static 'comment.css' %}" rel="stylesheet">{% endcompress %} {% compress js %}
	<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
	<script src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
	<script src="{% static 'fusioncharts/fusioncharts.charts.js' %}"></script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'toastr/build/toastr.min.js' %}"></script>
	<script src="{% static 'validacao.js' %}"></script> 
	<script src="{% static 'toastr.js' %}"></script>{% endcompress %}
</head>

<body>
	<!-- HEADER -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<span class="navbar-brand mb-0">Mundo dos Frameworks</span>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Início</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
					 aria-expanded="false"><i class="fa fa-code" aria-hidden="true"></i> Linguagens</a>
						<div class="dropdown-menu scrollable-menu">
							{%for lg in linguagens_combo %}
							<a class="dropdown-item" href="{% url 'wofapp:frameworks' lg.framework_set.first.id %}">{{lg.nome}}</a>
							{%endfor%}
						</div>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="/faq">FAQ</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0 mr-4" role="form" method="POST" action="/buscar_framework/"> 
			{% csrf_token %}
				<input class="form-control mr-sm-2" type="search" name="pesquisa" placeholder="Buscar Framework" aria-label="Pesquisar" required>
				<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
			</form>
			{% if user.is_authenticated %}
			<ul class="navbar-nav mr-3">
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-user-circle-o" aria-hidden="true"></i>
						<strong class="ml-1">{{ user.primeiro_nome }}</strong>
					</a>
					<div id="login-dp" class="col-12 dropdown-menu dropdown-menu-right">
						<div class="row">
							<div class="dropdown-item disabled">
								<div class="font-weight-light">
									<div class="text-truncate">
										<i class="fa fa-user" aria-hidden="true"></i>
										{{user.obter_nome_completo}}
									</div>
								</div>
							</div>
							{% if user.obter_profissao is not None %}
								<div class="dropdown-item disabled">
									<div class="font-weight-light">
										<div class="text-truncate">
											<i class="fa fa-address-card-o" aria-hidden="true"></i>
											{{user.obter_profissao}}
										</div>
									</div>
								</div>
							{%endif%}
							<div class="dropdown-item disabled">
								<div class="font-weight-light">
									<div class="text-truncate">
										<i class="fa fa-envelope-o" aria-hidden="true"></i>
										{{user.email}}
									</div>
								</div>
							</div>
							<div class="dropdown-item">
								<a class="btn btn-outline-warning btn-sm btn-block" role="button" href="/favoritos">
									<i class="fa fa-star-o" aria-hidden="true"></i> Favoritos</a>
							</div>
							<div class="dropdown-item">
								<a class="btn btn-outline-primary btn-sm btn-block" role="button" href="{% url 'wofapp:atualizar' %}">
									<i class="fa fa-pencil fa-fw"></i> Atualizar Dados</a>
							</div>
							<div class="dropdown-item">
								<a class="btn btn-outline-info btn-sm btn-block" role="button" href="{% url 'wofapp:trocar_senha' %}">
									<i class="fa fa-key" aria-hidden="true"></i> Alterar Senha</a>
							</div>
							<div class="bottom dropdown-item">
								<form class="form" role="form" method="POST" action="/logout/" id="login-nav">
									{% csrf_token %}
									<div class="row">
										<div class="col-sm-11 mx-auto">
											<button type="submit" class="btn btn-outline-danger btn-sm btn-block">
												<i class="fa fa-sign-out" aria-hidden="true"></i> Sair</button>
										</div>
									</div>
									<input type="hidden" name="next" value="{{ request.path }}">
								</form>
							</div>
						</div>
					</div>
				</li>
			</ul>
			{% else %}
			<span class="navbar-text mr-3">
				Você já é cadastrado?
			</span>
			<ul class="navbar-nav mr-3">
				<li class="nav-item dropdown">
					<button type="button" class="btn btn-sm btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
					 aria-expanded="false">
						Login
					</button>
					<div id="login-dp" class="dropdown-menu dropdown-menu-right">
						<div class="row">
							<div class="col-md-12">
							<p class="font-weight-light mt-1">
								Olá, seja bem-vindo! :D </p>
								<form class="form" role="form" method="POST" action="/login/" id="login-nav">
									{% csrf_token %}
									<div class="form-group mt-1">
										<label class="sr-only" for="username">Email</label>
										<input type="email" class="form-control" name="username" id="username" placeholder="Email" required>
									</div>
									<div class="form-group">
										<label class="sr-only" for="password">Senha</label>
										<input type="password" class="form-control" name="password" id="password" placeholder="Senha" required>
										<div class="text-right">
											<a href="{% url 'wofapp:reset_senha' %}">Esqueceu a senha?</a>
										</div>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-info btn-block mt-4">
											<i class="fa fa-sign-in" aria-hidden="true"></i> Entrar</button>
									</div>
									<input type="hidden" name="next" value="{{ request.path }}">
								</form>
							</div>
						</div>
						<div class="bottom text-left" style="font-size:92%">
							Novo por aqui?
							<a href="{% url 'wofapp:registrar' %}">
								<b>Registre-se!</b>
							</a>
						</div>
					</div>
				</li>
			</ul>
			{% endif %}
		</div>
	</nav>
	<div class="content">
		{% block conteudo %} {% endblock %}
	</div>
	<!-- FOOTER -->
	<hr style="border:solid 1p">
	<footer class="text-center">
		<small id="footer">
			<p class="font-weight-light mt-3">
				Universidade Federal Rural do Rio de Janeiro
				<br /> Copyright © 2018 Leonardo Almeida
				<br /> Todos os direitos reservados
			</p>
		</small>
	</footer>

	{% if messages %}{% for message in messages %}
	<script type="text/javascript">
		var mensagem = "{{message}}";
		var tag = "{{message.tags}}";
		var title = '';
		if (tag == 'error')
			title = "Aviso";
		else if (tag == 'info')
			title = "Informação";
		else
			title = "Atenção";
		enviarMensagem(mensagem, tag, title);
	</script>{% endfor %}{% endif %}
</body>

</html>