{% extends "base.html" %} {% block titulo %}Perguntas Frequentes{% endblock %} {% block conteudo %} {% load staticfiles %}

<body>
    <div class="container">
        <h1 class="font-weight-light mt-3">
            <b>Perguntas frequentes</b>
        </h1>
        <h4 class="font-weight-light mt-4">
            <b>Qual o propósito do Mundo dos Frameworks?</b>
        </h4>
        <p class="font-weight-light mt-1">O objetivo do site é disponibilizar um ambiente que permita as pessoas verificarem 
         diversas informações sobre variados frameworks de linguagens de programação, sem a necessidade de realizar pesquisas 
         custosas. Dessa forma, qualquer pessoa poderia aprender sobre o framework que desejar e ainda contribuir 
         com o conhecimento que possui, gerando uma rede de dados atualizada e confiável.</p>

        <h4 class="font-weight-light mt-3">
            <b>Porque meu Framework favorito não está no site?</b>
        </h4>
        <p class="font-weight-light mt-1">Adorariamos saber que Framework seria esse! <a data-toggle="collapse" href="#multiCollapseExample1"
        role="button" aria-expanded="false" aria-controls="multiCollapseExample1" class="text-success"><b>Clique aqui</b></a> 
        para ter acesso as linguagens disponíveis no sistema só esperando para receber novos Frameworks!</p>

        <form class="form" role="form" method="POST" action="/novo_framework/{{lg_escolhida.id}}">
            {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <div class="collapse {{exibe_modal_fram}}" id="multiCollapseExample1">
                            <div class="card-header">
                                <i class="fa fa-laptop fa-border" aria-hidden="true"></i> Novo Framework</h5>
                            </div>
                            <div class="card-body">
                                {% if user.is_authenticated %}
                                <p class="font-weight-light mt-1">Escolha abaixo a Linguagem que o novo Framework pertence e seu nome:</p>
                                    <div class="form-inline">
                                        <div class="btn-group">
                                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuvs" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Selecione uma Linguagem
                                            </button>
                                            <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuvs">
                                                {%for lg in linguagens %}
                                                <a class="dropdown-item" href="{% url 'wofapp:define_linguagem_adcframework' lg.id %}">{{lg.nome}}</a>
                                                {%endfor%}
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        {%if lg_escolhida is not None %}<p value={{lg_escolhida.id}} class="font-weight-light mt-3">Linguagem selecionada: <b>{{lg_escolhida.nome}}</b> </p> {%endif%}
                                    </div>
                                    <input type="text" class="form-control mt-3" name="nome" placeholder="Ex: Angular JS" required>
                                {%else%}
                                <p class="font-weight-light mt-1">Para poder Adicionar O Framework é preciso se autenticar! ;)</p>
                                {%endif%}
                            </div>
                            <div class="card-footer text-muted">                
                                <button type="submit" class="btn btn-info" {%if lg_escolhida is None %}disabled{%endif%}>Salvar</button>
                            </div>
                        </div> 
                    </div>
                </div>
        </form> 

        <h4 class="font-weight-light mt-3">
            <b>E as Linguagens de Programação? Cade aquela que lançou semana passada?</b>
        </h4>
        <p class="font-weight-light mt-1">Opa, não estamos sabendo dessa ai não!! :O <a data-toggle="collapse" href="#multiCollapseExample2"
        role="button" aria-expanded="false" aria-controls="multiCollapseExample1" ><b>Clique aqui</b></a>
        e adicione ela agora mesmo! Lembrando que as linguagens só serão exibidas na lista do sistema quando tiverem <b>pelo menos um framework</b> adicionado.
        Caso sua linguagem não esteja aparecendo na barra do sistema, veja acima se ela não já não existe!</p>

        <form class="form" role="form" method="POST" action="/nova_linguagem/">
            {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <div class="collapse" id="multiCollapseExample2">
                            <div class="card-header">
                                <i class="fa fa-code fa-border" aria-hidden="true"></i> Nova Linguagem de Programação</h5>
                            </div>
                            <div class="card-body">
                            {% if user.is_authenticated %}
                                <p class="font-weight-light mt-1">Insira uma nova Linguagem que ainda não está no sistema, é só entrar com o nome! :)</p>
                                <input type="text" class="form-control" name="nome" id="nome" placeholder="Ex: Go" required>
                            {%else%}
                            <p class="font-weight-light mt-1">Para poder Adicionar a Linguagem é preciso se autenticar! ;)</p>
                            {%endif%}
                            </div>
                            <div class="card-footer text-muted">                
                                <button type="submit" class="btn btn-info">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
        </form> 

        <h4 class="font-weight-light mt-3">
            <b>Como posso alterar dados de um Framework?</b>
        </h4>
        <p class="font-weight-light mt-1">Para melhor controle do que acontece no site, todas alterações de informações dos Frameworks só podem ser feitas
            por usuários cadastrados no sistema, sempre com o intuito de incluir novos conteúdos e melhorar o existente. Dessa forma, o usuário que tiver 
            se registrado e estiver autenticado com sua conta poderá editar os seguintes conteúdos:</p>
        <label class="font-weight-light">
            1. Novas <label class="font-italic">linguagens de progrmação</label>.
        </label>
        <br>
        <label class="font-weight-light">
            2. Novos <label class="font-italic">frameworks</label>.
        </label>
        <br>
        <label class="font-weight-light">
            3. <label class="font-italic">Versões</label> disponíveis de um Framework.
        </label>
        <br>
        <label class="font-weight-light">
            4. <label class="font-italic">Funcionalidades</label> das versões dos Frameworks.
        </label>
        <br>
        <label class="font-weight-light">
            5. Descrição e código de exemplo para realizar um <label class="font-italic">"Hello World"</label> das versões dos Frameworks.
        </label>
        <br>
        <label class="font-weight-light">
            6. <label class="font-italic">Opiniões</label> de vantagens e desvantagens sobre usar determinada versão do Framework.
        </label>
        <br>
        <label class="font-weight-light">
            7. <label class="font-italic">Links</label> para tutoriais dos frameworks, podendo votar quais são os melhores dentre eles.
        </label>
        <br>
        <label class="font-weight-light">
            8. <label class="font-italic">Comentários</label> para tirar dúvidas e dar explicações sobre determinado Framework,
            podendo também responder comentários e dúvidas dos demais usuários.
        </label>
        <p class="font-weight-light mt-1">
            Além disso, caso o usuário perceba uma assunto inadequado adicionado a algum Framework, ele poderá denunciar aquele conteúdo,
            para que o usuário que o adicionou não possa mais acessar o sistema.
        </p>
        </p>

        <h4 class="font-weight-light mt-3">
            <b>Como denunciar um conteúdo inapropriado de um Framework?</b>
        </h4>
        <p class="font-weight-light mt-1">
            Em todo Framework, cada tópico citado acima, terá o símbolo
            <i class="fa fa-ellipsis-v fa-border text-dark"></i> visível para o usuário quando o memso estiver autenticado. Se você identificar um assunto inapropriado em
            algum desses tópicos, clique no símbolo que uma tela se abrirá relacionada ao tópico, para que a denúncia seja
            realizada.
        </p>

        <h4 class="font-weight-light mt-3">
            <b>O que é uma "Hello World"?</b>
        </h4>
        <p class="font-weight-light mt-1">
            Na programação, o "Hello World" ou "Olá Mundo" é o primeiro passo a ser dado por uma pessoa que está aprendendo
            uma nova Linguagem de Programação ou Framework. Ele se resume no mínimo necessário para que aquela determinada tecnologia
            funcione e "imprima" algo na tela. Assim, o Hello World no sistema representa o código básico que é preciso para que
            um determinado Framework funcione.
        </p>

        <h4 class="font-weight-light mt-3">
            <b>Quais são os critérios para decidir se algo é um "framework web"?</b>
        </h4>
        <p class="font-weight-light mt-1 mb-5">Digamos que se você puder terminar a frase "Acabei de criar esse novo aplicativo/sistema web com [insira o nome do
            framework aqui]", então ele provavelmente seria considerado uma framework web.</p>
    </div>
</body>

{% endblock %}