{% extends "base.html" %} {% block titulo %}Frameworks Favoritos{% endblock %} {% block conteudo %} {% load staticfiles %}

<body>
    <div class="container">
    <h3 class="display-5 mt-2 mb-3">Sua lista de Frameworks Favoritos <i class="fa fa-star mt-4" aria-hidden="true" style="color:#FFD700"></i></h3>
        {% if favoritos.count > 0 %}
        <table class="table text-center">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Framework</th>
                    <th scope="col">Linguagem do Framewor</th>
                    <th scope="col">Ver</th>
                </tr>
            </thead>
            <tbody>
                {%for favorito in favoritos %}
                <tr>
                    <td>
                        {{favorito.nome}}
                    </td>
                    <td>
                        {{favorito.linguagem.nome}}
                    </td>
                    <td>
                        <a href="{% url 'wofapp:frameworks' favorito.id %}">
                        <i class="fa fa-share-square-o" title="ver o {{favorito.nome}}" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%else%}
            <p class="font-weight-light">
                Você ainda não tem Frameworks favoritos. Escolha um Framework e clique na estrela dourada ao lado de
                seu nome para que ele fique salvo como favorito! </p>
        {%endif%}
    </div>
</body>

{% endblock %}