{% extends "base.html" %} {% block titulo %}Frameworks{% endblock %} {% block conteudo %} {% load staticfiles %}
<br/>
<h4>
    <span class="badge badge-primary ml-2">Frameworks disponíveis do {{linguagem.nome}}</span>
</h4>
<br/>
<nav>
    <div class="nav nav-tabs ml-2" id="nav-tab" role="tablist">
        {%for frm in frameworks %} {% with frameworks|first as first %} {% if frm == first%}
        <a style="color:black" class="nav-item nav-link active" data-toggle="tab" href="#nav-home" role="tab" aria-selected="true">{{frm}}</a>
        {%else%}
        <a style="color:black" class="nav-item nav-link" data-toggle="tab" href="#nav-home" role="tab" aria-selected="false">{{frm}}</a>
        {% endif %} {% endwith %} {%endfor%}
    </div>
</nav>
<br/>
<div class="row mt-2">
    <div class="col-md-2">
        <div id="list-example" class="list-group mt-2 ml-2">
            <a class="list-group-item list-group-item-action active" href="#list-item-1">Hello World</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Versões</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Opiniões</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">Links</a>
            <!-- <a class="list-group-item list-group-item-action" href="#list-item-5">Comentários</a> -->
        </div>
    </div>
    <div class="col-md-10">
        <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example" style="overflow: auto; max-height: 400px;">
            <h4 id="list-item-1">Hello World {% if user.is_authenticated %}
                <i class="fa fa-pencil-square-o" style="cursor:pointer;color: #ffc107" aria-hidden="true" data-toggle="modal" data-target="#exampleModalLong"
                    title="Editar Hello World"></i>
                {% endif %}
            </h4>
            <p class="card card-body">ACillum nisi deserunt magna eiusmod qui eiusmod velit voluptate pariatur laborum sunt enim. Irure laboris mollit
                consequat incididunt sint et culpa culpa incididunt adipisicing magna magna occaecat. Nulla ipsum cillum
                eiusmod sint elit excepteur ea labore enim consectetur in labore anim. Proident ullamco ipsum esse elit ut
                Lorem eiusmod dolor et eiusmod. Anim occaecat nulla in non consequat eiusmod velit incididunt.met tempor
                mollit aliquip pariatur excepteur commodo do ea cillum commodo Lorem et occaecat elit qui et. Aliquip labore
                ex ex esse voluptate occaecat Lorem ullamco deserunt. Aliqua cillum excepteur irure consequat id quis ea.
                Sit proident ullamco aute magna pariatur nostrud labore. Reprehenderit aliqua commodo eiusmod aliquip est
                do duis amet proident magna consectetur consequat eu commodo fugiat non quis. Enim aliquip exercitation ullamco

                <h4 class="mt-3" id="list-item-2">Versões
                </h4>
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm" type="button">
                        Escolha uma das versões do Framework
                    </button>
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">1.0</a>
                        <a class="dropdown-item" href="#" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">2.0</a>
                        <a class="dropdown-item" href="#" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">3.0</a>
                        {% if user.is_authenticated %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Adicionar nova versão
                            <i class="fa fa-plus-circle" style="color: #ffc107;cursor:pointer" aria-hidden="true" title="Adicioanr nova versão"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="collapse mt-4" id="collapseExample">
                    <div class="card card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                </div>

                <h4 class="mt-3" id="list-item-3">Opiniões</h4>
                <small>Prós e contras dos usuários sobre o Framework:</small>
                <ul class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                            aria-selected="true">Prós</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                            aria-selected="false">Contras</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="card card-body">
                            Cillum nisi deserunt magna eACillum nisi deserunt magna eiusmod qui eiusmod velit voluptate pariatur laborum sunt enim. Irure
                            laboris mollit consequat incididunt sint et culpa culpa incididunt adipisicing magna magna occaecat.
                            Nulla ipsum cillum eiusmod sint elit excepteur ea labore enim consectetur in labore anim. Proident
                            ullamco ipsum esse elit ut Lorem eiusmod dolor et eiusmod. Anim occaecat nulla in non consequat
                            eiusmod velit incididunt.met tempor mollit aliquip pariatur excepteur commodo do ea cillum commodo
                            Lorem et occaecat elit qui et. Aliquip labore ex ex esse voluptate occaecat Lorem ullamco deserunt.
                            Aliqua
                            <br/>
                            <br/>{% if user.is_authenticated %}
                            <button type="button" class="col-md-2 btn btn-outline-warning btn-sm">Adicionar</button>
                            {%endif%}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="card card-body">
                            eiusmod sint elit excepteur ea labore enim consectetur in labore anim. Proident ullamco ipsum esse elit ut Lorem eiusmod
                            dolor et eiusmod. Anim occaecat nulla in non consequat eiusmod velit incididunt.met tempor mollit
                            aliquip pariatur excepteur commodo do ea cillum commodo Lorem et occaecat elit qui et. Aliquip
                            labore ex ex esse voluptate occaecat Lorem ullamco deserunt. Aliqua cillum excepteur irure consequat
                            id quis ea. Sit proident ullamco aute magna pariatur nostrud labore. Reprehenderit aliqua commodo
                            eiusmod aliquip est do duis amet proident magna consectetur consequat eu commodo fugiat non quis.
                            Enim aliquip exercitation ullamco adipisicing voluptate excepteur minim exercitation minim minim
                            commodo adipisicing
                            <br/>
                            <br/> {% if user.is_authenticated %}
                            <button type="button" class="col-md-2 btn btn-outline-warning btn-sm">Adicionar</button>
                            {%endif%}
                        </div>
                    </div>
                </div>

                <h4 class="mt-3" id="list-item-4">Links</h4>
                Os melhores sites eleitos pelos usuários para tutorias e conhecimentos sobre o framework:
                <br>
                <div class="col-md-8 mx-auto mt-2">
                    ranking:
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="https://www.djangoproject.com/">https://www.djangoproject.com/</a>
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"> 14</i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="https://angular.io/">https://angular.io/</a>
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"> 5</i>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="https://nodejs.org/en/">https://nodejs.org/en/</a>
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"> 2</i>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Adicionar novo link
                            <span>
                                <i class="fa fa-plus-circle" style="color: #ffc107;cursor:pointer" aria-hidden="true" title="Adicioanr novo Link"></i>
                            </span>
                        </li>
                        {%endif%}
                    </ul>
                </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edição do Hello World</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control" rows="50">
              ACillum nisi deserunt magna eiusmod qui eiusmod velit voluptate pariatur laborum sunt enim. Irure laboris mollit
              consequat incididunt sint et culpa culpa incididunt adipisicing magna magna occaecat. Nulla ipsum cillum
              eiusmod sint elit excepteur ea labore enim consectetur in labore anim. Proident ullamco ipsum esse elit ut
              Lorem eiusmod dolor et eiusmod. Anim occaecat nulla in non consequat eiusmod velit incididunt.met tempor
              adipisicing. Anim id duis qui consequat labore adipisicing sint dolor elit cillum anim et fugiat.ACillum
              nisi deserunt magna eiusmod qui eiusmod velit voluptate pariatur laborum sunt enim. Irure laboris mollit
              consequat incididunt sint et culpa culpa incididunt adipisicing magna magna occaecat. Nulla ipsum cillum
              eiusmod sint elit excepteur ea labore enim consectetur in labore anim. Proident ullamco ipsum esse elit ut
              Lorem eiusmod dolor et eiusmod. Anim occaecat nulla in non consequat eiusmod velit incididunt.met tempor
              mollit aliquip pariatur excepteur commodo do ea cillum commodo Lorem et occaecat elit qui et. Aliquip labore
              ex ex esse voluptate occaecat Lorem ullamco deserunt. Aliqua cillum excepteur irure consequat id quis ea.
              Sit proident ullamco aute magna pariatur nostrud labore. Reprehenderit aliqua commodo eiusmod aliquip est
              do duis amet proident magna consectetur consequat eu commodo fugiat non quis. Enim aliquip exercitation ullamco
              adipisicing voluptate excepteur minim exercitation minim minim commodo adipisicing exercitation officia nisi
              adipisicing. Anim id duis qui consequat labore adipisicing sint dolor elit cillum anim et fugiat.
                        </textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar Alterações</button>
            </div>
        </div>
    </div>
</div>
<!-- EndModal -->
<br/>
<div class="card mt-5 mx-5">
    <form class="form" role="form" method="POST" action="/comentario/{{linguagem.id}}">
        {% csrf_token %}
        <div class="card-header">
            Comentários
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-11">
                    <input type="text" name="texto" value="{{ form.texto.value }}" id="texto" class="form-control" placeholder="Seus comentários..."
                    />
                    <div class="form-control-feedback">
                        <small class="text-danger text-center">
                            {{ form.texto.errors }}
                        </small>
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-default">Enviar
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}