{% extends "base.html" %} {% block titulo %}{{framework.linguagem.nome}} - {{framework}}{%endblock%} {%block conteudo%}
{%load staticfiles%} {%load filters%}

<head>
    <link href="{% static 'priorityscrolling.css' %}" rel="stylesheet">
</head>

<body class="font-weight-light">
    <h2>
        <span class="badge badge-light ml-2 mt-3">{{framework.linguagem.nome}}</span>
    </h2>
    <p class="font-weight-light ml-2 mt-4">Escolha um dos Frameworks do {{framework.linguagem.nome}} disponíveis abaixo:</p>

    <div id="priorityscroll">
        <ul>
            {%for frm in lista_frameworks %}
            <li>
                <a href="{% url 'wofapp:frameworks' frm.id %}">{{frm}}</a>
            </li> {%endfor%}
        </ul>
    </div>
    <div class="row"> 
        <div class="col-md-11">
            <h1 class="display-4 ml-3 mt-2">{{framework}}</h1>
        </div>
        <div class="col-md-1">
        {%if favorito %}
            <a href="{% url 'wofapp:desfavoritar_framework' framework.id %}"><i class="fa fa-star fa-3x mt-4" title="Desfavoritar Framework" aria-hidden="true" style="color:#FFD700"></i><a/>
        {%else%}
            <a href="{% url 'wofapp:favoritar_framework' framework.id %}"><i class="fa fa-star-o fa-3x mt-4" title="Favoritar Framework" aria-hidden="true" style="color:#FFD700"></i><a/>
        {%endif%}    
        </div>
    </div>
    <div id="accordion">
        <!--VERSÕES-->
        {% include "versoes.html" %}

        <!--LINKS-->
        {% include "links.html" %}

        <!--COMENTÁRIO-->
        {% include "comentarios.html" %}
    </div>
</body>

<script src="{% static 'validacao.js' %}"></script> {% endblock %}