{% extends "base.html" %} {% block titulo %}{{framework.linguagem.nome}} - {{framework.nome}}{%endblock%} {%block conteudo%}
{%load staticfiles%} {%load filters%}

<head>
    <link href="{% static 'priorityscrolling.css' %}" rel="stylesheet">
</head>

<body>
    <h3>
        <span class="badge badge-primary ml-2 mt-3">{{framework.linguagem.nome}}</span>
        <i class="fa fa-star" aria-hidden="true"></i>
        <!-- <i class="fa fa-star-o" aria-hidden="true"></i> -->
    </h3>
    <p class="font-weight-light ml-2 mt-2 mb-4">Escolha um dos Frameworks disponíveis abaixo:</p>

    <div id="priorityscroll">
        <ul>
            {%for frm in lista_frameworks %}
            <li>
                <a href="{% url 'wofapp:frameworks' frm.id %}">{{frm}}</a>
            </li> {%endfor%}
        </ul>
    </div>
    <h1 class="display-4 ml-3 mt-2">{{framework.nome}}</h1>
    <div id="accordion">
        <!--VERSÕES-->
        {% include "versoes.html" %}

        <!--FUNCIONALIDADES-->
        {% include "funcionalidades.html" %}

        <!--HELLO WORLD-->
        {% include "helloworld.html" %}

        <!--OPINIÕES-->
        {% include "opinioes.html" %}

        <!--LINKS-->
        {% include "links.html" %}

        <!--Comentário-->
        {% include "comentarios.html" %}
    </div>
</body>

{% endblock %}