<div class="col-md-12 mt-3">
    <div class="card mr-2 mt-2 ml-1">
        <div class="card-header">
            <div class="bg-default clearfix">
                <div class="float-left">
                    <h5 class="card-title" style="cursor:pointer" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Funcionalidades
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                    </h5>
                </div>
                <div class="float-right">{% if user.is_authenticated %}
                    <label class="mr-1">[
                        <a href="#">
                            <small title="adicionar funcionalidades">adicionar
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </small>
                        </a>]</label>
                    <a href="#">
                        <i class="fa fa-ban  text-dark" title="Denunciar conteúdo"></i>
                    </a>
                    {% endif %}</div>
            </div>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body" style="overflow-y:auto;">
                {%if framework.funcionalidades is not None%}
                <p class="font-weight-light">{%if versao_selecionada is not None%}Funcionalidades do {{framework}} na versão {{versao_selecionada.numero|floatformat:3}}.
                    {%else%} Funcionalidades do {{framework}} em suas versões. {%endif%}
                </p>
                {%else%}
                <p class="font-weight-light">
                    {% if user.is_authenticated %} Este framework ainda não possui funcionalidades registradas. Clique no 'Adicionar' e seja
                    o primeiro a fazer! {%else%} Este framework ainda não possui funcionalidades registradas. Cadastre-se
                    e seja o primeiro a fazer! {%endif%}
                </p>
                {%endif%}
            </div>
        </div>
    </div>
</div>