{%load filters%}

<div class="col-md-12 mt-3">
    <div class="card mr-2 mt-2 ml-1">
        <div class="card-header">
            <div class="bg-default clearfix">
                <div class="float-left">
                    <h5 class="card-title" style="cursor:pointer" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Hello World
                        <i class="fa fa-globe" aria-hidden="true"></i>
                    </h5>
                </div>
                <div class="float-right">{% if user.is_authenticated %}
                    <label class="mr-1">[
                        <a data-toggle="modal" data-target="#edicaoHelloWorld" href="#">
                            <small title="editar hello world">editar
                                <i class="fa fa-pencil fa-fw"></i>
                            </small>
                        </a>]</label>
                    {% endif %}</div>
            </div>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2">
            <div class="card-body max-y">
                <p class="font-weight-light">
                {%if versao_selecionada is not None%} 
                    Esse hello world representa o básico necessário para iniciar um projeto com o {{framework}} na versão <b>{{versao_selecionada.numero|floatformat:3}}</b>.
                        
                    {%if ultimo_helloworld is not None %}
                        <div class="col-md-12 mt-2">
                            {{ultimo_helloworld.descricao}}
                        </div>
                        <div class="col-md-12 mt-3">
                            {%with "<pre id="|add:framework.linguagem.nome|add:">"|add:ultimo_helloworld.codigo_exemplo|add:"</pre>" as code %} {{code|pygmentize|safe}} {%endwith%} 
                        </div> 
                    {%else%}
                        <p class="font-weight-light">
                        Esas versão do framework ainda não possui nenhum exemplo de Hello World.
                        {% if user.is_authenticated %} Clique no 'Editar' 
                            {%else%} Cadastre-se 
                            {%endif%}
                            e seja o primeiro a fazer! 
                            </p>
                        {% comment %} <p class="font-weight-light">Veja um exemplo de um Hello World pronto no Framework
                            <a href="{% url 'wofapp:frameworks' 145 %}">Django</a>, da linguagem Python. {% endcomment %}
                    {%endif%}</p>
                {%else%} 
                    Esse hello world representa o básico necessário para iniciar um projeto com uma das versões do {{framework}}. Adicone uma versão antes de editá-lo!
                {%endif%}
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<form class="form" role="form" method="POST" action="/helloworld/{{framework.id}}/{{versao_selecionada.id}}">
    {% csrf_token %}
    <div class="modal fade" id="edicaoHelloWorld" style="height:100%" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        <i class="fa fa-globe" aria-hidden="true"></i> Edição do Hello World</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {%if versao_selecionada is None%}
                    <p class="font-weight-light mt-3">Antes de adicionar o Hello world, adicione a Versão do Framework a qual você deseja relacioná-lo.</p>
                    {%else%}
                    <div class="form-group">
                        <label for="descricao" class="col-form-label">Descrição:</label>
                        <div class="col-12">
                            <textarea rows="7" class="form-control" name="descricao" id="descricao" placeholder="Entre com uma descrição sobre o Hello World."
                                required>{%if ultimo_helloworld is not None%}{{ultimo_helloworld.descricao}}{%endif%}</textarea>
                        </div>
                    </div>
                    <label for="codigo_exemplo" class="col-form-label">Código:</label>
                    <div class="col-12">
                        <textarea rows="7" class="form-control" name="codigo_exemplo" id="codigo_exemplo" placeholder="Entre com um código de exemplo do Hello World."
                            required>{%if ultimo_helloworld is not None%}{{ultimo_helloworld.codigo_exemplo}}{%endif%}</textarea>
                    </div>
                    <div class="bg-default clearfix mt-3 mr-3">
                        <button type="submit" class="btn btn-info float-right" {%if versao_selecionada is None%}disabled{%endif%}>Salvar</button>
                    </div>     
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</form>
<!-- EndModal -->