{% extends "base.html" %} {% block titulo %}World of Frameworks{% endblock %} {% block conteudo %} {% load staticfiles %}

<script src="{% static 'toastr.js' %}"></script>
<!-- CONTENT -->
<h3 class="mt-4 ml-4">
	Descubra o melhor framework para seu projeto
	<br>
	<small class="text-muted">Levantando informações de diversos frameworks para facilitar a escolha do que melhor se adapta a suas necessidades</small>
</h3>
{{ output1|safe }} {{ output2|safe }}
<div class="container-fluid mt-5">
	<div class="row">
		<div class="col">
			<div id="chart-1"></div>
		</div>
		<div class="col">
			<div id="chart-2"></div>
		</div>
	</div>
</div>

{% if messages %} {% for message in messages %}

<label id='msg'>{{ message }}</label>
{% if message.tags == 'info'%}

<script type="text/javascript">
	var mensagem = document.getElementById("msg");
	enviarMensagem(mensagem, "info", "Informação");
</script> {% else %}

<script type="text/javascript">
	var mensagem = document.getElementById("msg");
	enviarMensagem(mensagem, "error", "Aviso");
</script> {% endif %} {% endfor %} {% endif %} {% endblock %}