{% extends "base.html" %} {% block titulo %}World of Frameworks{% endblock %} {% block conteudo %} {% load staticfiles %}

<!-- CONTENT -->
<h3 class="mt-4 ml-4">
	Descubra o melhor framework para seu projeto
	<br>
	<small class="text-muted">Levantando informações de diversos frameworks para facilitar a escolha do que melhor se adapta a suas necessidades</small>
</h3>
{{ output1|safe }} {{ output2|safe }}
<div class="container-fluid mt-5">
	<div class="row">
		<div class="col">
			<div id="chart-1"></div>
		</div>
		<div class="col">
			<div id="chart-2"></div>
		</div>
	</div>
</div>
{% endblock %}