{% extends "base.html" %} {% block titulo %}Início{% endblock %} {% block conteudo %} {% load staticfiles %}

<script src="{% static 'toastr.js' %}"></script>
<!-- CONTENT -->
<span class="badge badge-primary mt-4 ml-3">Olá {% if user.is_authenticated %}{{ user.first_name }} {% else %}usuário anônimo{% endif %}, já se atualizou sobre seus
	frameworks preferidos hoje?</span>
<div class="container">
	<div class="col-md-7 mx-auto mt-3">
		<div class="card border-dark mb-3">
			<div class="col-md-6 mx-auto mt-4 mb-2">
				<img class="card-img-top" src="{% static 'code.png' %}" alt="Card image cap">
			</div>
			<div class="card-body">
				<h5 class="card-title text-center">World of Frameworks</h5>
			</div>
		</div>
		<br/>
	</div>
</div>
{% if messages %} {% for message in messages %}
<p id='msg'>{{ message }}</p>
{% endfor %}
<script type="text/javascript">
	var mensagem = document.getElementById("msg");
	enviaWarning(mensagem);
</script> {% endif %} {% endblock %}