<body>
    <div class="col-md-12 mt-3">
        <div class="card mr-2 mt-2 ml-1">
            <div class="card-header" id="headingOne">
                <div class="bg-default clearfix">
                    <div class="float-left">
                        <h5 class="card-title" style="cursor:pointer" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Versões
                            <i class="fa fa-shield" aria-hidden="true"></i>
                        </h5>
                    </div>
                    <div class="float-right">{% if user.is_authenticated %}
                            <label class="mr-1">[
                            <a data-toggle="modal" data-target="#edicaoVersoes" href="#">
                                <small title="editar versões">editar
                                    <i class="fa fa-pencil fa-fw"></i>
                                </small>
                            </a>]</label>
                        <a href="#">
                            <i class="fa fa-ban  text-dark" title="Denunciar conteúdo"></i>
                        </a>
                        {% endif %}</div>
                </div>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" style="overflow-y:auto;">
                    <div class="form-inline">
                        <p class="font-weight-light">O <b>Hello World</b>, as <b>Funcionalidades</b> além das <b>Vantagens e Desvantagens</b> sobre esse Framework estão relacionadas a cada Versão que ele possui.</p>
                    </div>
                    {% if versao_selecionada is not None%}
                    <div class="form-inline">
                        <p class="font-weight-light">
                            A Versão selecionada do {{framework}} é: <b>{{versao_selecionada.numero|floatformat:3}}</b></p>
                    </div>
                    {%else%} 
                        <p class="font-weight-light"> 
                        O <b>{{framework}}</b> ainda não possui versões.
                    {% if user.is_authenticated %} 
                        Clique no 'Editar' 
                    {%else%} 
                        Cadastre-se 
                    {%endif%}
                        e seja o primeiro a editá-las!
                    </p>
                    {%endif%} {% if framework.versao_set.count > 1 %}
                    <div class="form-inline">
                        <p class="font-weight-light mt-1">Escolha uma das outras Versões disponíveis:</p>
                        <div class="btn-group dropright ml-2">
                            <button class="btn btn-primary btn-sm dropdown-toggle mb-2" type="button" id="dropdownMenuvs" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Selecione
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuvs">
                                {%for versao in framework.versao_set.all %}
                                <a class="dropdown-item" href="{% url 'wofapp:trocar_versao' versao.id %}">{{versao.numero|floatformat:3}}</a>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div id="accordion2">
                        <!--FUNCIONALIDADES-->
                        {% include "funcionalidades.html" %}

                        <!--HELLO WORLD-->
                        {% include "helloworld.html" %}

                        <!--OPINIÕES-->
                        {% include "opinioes.html" %}
                    </div>

                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="edicaoVersoes" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    <i class="fa fa-shield" aria-hidden="true"></i> Edição das Versões</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <a aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#pills-new2" data-toggle="pill" href="#pills-new2" role="tab" aria-controls="pills-new2"
                    aria-selected="true">Novo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pills-edit2" data-toggle="pill" href="#pills-edit2" role="tab" aria-controls="pills-edit2"
                    aria-selected="true">Existentes</a>
                    </li>
                </ul>
                <div class="tab-content mt-2" id="pills-tabContent mt-2">
                    <div class="tab-pane fade show active" id="pills-new2" role="tabpanel" aria-labelledby="pills-new2-tab">
                        <a class="mt-5">Adicione uma Versão do Framework:</a>
                        <form class="form-inline mt-2" role="form" method="POST" action="/versao/{{framework.id}}">
                            {% csrf_token %}
                            <input type="text" class="form-control col-md-8" name="numero_versao" id="numero_versao" placeholder="Ex: 1.0" required
                            onKeyPress="return validaNumeros(event);" onpaste="return false" ondrop="return false"> 
                            <button type="submit" class="btn btn-info col-md-4">Salvar</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-edit2" role="tabpanel" aria-labelledby="pills-edit2-tab">
                        {% if framework.versao_set.count > 0 %}
                            <table class="table text-center mt-2">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Versão</th>
                                        <th scope="col">Alterar Número</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {%for versao in framework.versao_set.all %}
                                    <form class="form" role="form" method="POST" action="/editar_versao/{{versao.id}}/{{framework.id}}">
                                        {% csrf_token %}
                                        <tr>
                                            <td>
                                                <a id="condicao1{{versao.id}}" style="display:block">
                                                    {{versao.numero|floatformat:3}}
                                                <a>

                                                <div id="condicao2{{versao.id}}" style="display:none" class="col-md-10">
                                                    <input type="text" name="numero_versao" class="form-control" value="{{versao.numero}}" required> 
                                                </div>
                                            </td>

                                            <td>
                                                <a id="condicao3{{versao.id}}" style="display:block" href="#" >
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true" title="Editar número" onclick="troca_campos({{versao.id}})"></i>
                                                </a>

                                                <div id="condicao4{{versao.id}}" style="display:none" class="col-md-2">
                                                    <button type="submit" class="btn btn-info" >Editar</button>
                                                </div>                                       
                                            </td>
                                        </tr>
                                    </form>
                                {%endfor%}
                                </tbody>
                            </table>
                        {%else%}
                            <a class="mt-5">Ainda não há versões registradas.</a>
                        {%endif%} 
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<body>